*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    width: 100%;
    height: auto;
    background-color: blueviolet;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 80%;
        width: 90%;
    }
}